/* Загальні стилі для сторінки
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
} */

/* Стилі для форми */
.form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}
label {
  font-weight: bold;
  border-radius: 5px;
}

input[type='number'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

fieldset {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
}

legend {
  font-weight: bold;
  padding: 0 5px;
}

/* Стилі для кнопки */
button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
